---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Nick",
    country: "US",
    occupation: "Experience Designer",
    hobbies: ["design", "learning", "drawing"],
};

const skills = ["html", "css", "js", "astro", "data-viz"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout>
    <style is:global define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
    </style>
		<h2>and my new astro site</h2>
        <p>working on this...</p>
        <p>some facts about me</p>
        <ul>
            <li>I'm {identity.firstName}.</li>
            <li>I live in {identity.country} and work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>my skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I'm happy to be learning.</p> }
        {finished && <p>I finished this segment.</p> }
        {goal === 3 ? <p>My goal is to be finished in 3 days</p> : <p>My goal is not 3 days.</p> }
</BaseLayout>