---
import { map } from "astro:schema";

const pageTitle = "About Me";

const identity = {
    firstName: "Nick",
    country: "US",
    occupation: "Experience Designer",
    hobbies: ["design", "learning", "drawing"],
};

const skills = ["html", "css", "js", "astro", "data-viz"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>
		<h2>and my new astro site</h2>
        <p>working on this...</p>
        <p>some facts about me</p>
        <ul>
            <li>I'm {identity.firstName}.</li>
            <li>I live in {identity.country} and work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>my skills are:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        {happy && <p>I'm happy to be learning.</p> }
        {finished && <p>I finished this segment.</p> }
        {goal === 3 ? <p>My goal is to be finished in 3 days</p> : <p>My goal is not 3 days.</p> }
	</body>
</html>
